select.visible{
    display: block!important;
}
.brand-logo-main{
    color: #FFA700;
    font-size: 26px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
nav#main{
    background-color: #1B1F20 !important;
}
#subtitulo{
    background-color: #FFA700 !important;
}
.block-buttons{
    margin-top: 15px;
}
.space15{
    display: block;overflow: hidden;width: 100%;clear: both;height: 15px;
}
.default-form input, .default-form select{
    margin-bottom: 30px!important;
}
ul.home-list li{
    list-style-type: circle;
}