<template>
  <nav id="main">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo-main">Controle de Atividades</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/atividades">Atividades em aberto</router-link></li>
        <li><router-link to="/atividades-concluidas">Atividades concluídas</router-link></li>
        <li><router-link to="/atividade-criar">Nova atividade</router-link></li>
      </ul>
    </div>
  </nav>
  <div id="container">
    <router-view />
  </div>
</template>