<template>
    <nav>
      <div class="nav-wrapper" id="subtitulo">
        <a href="#" class="brand-logo center">Atividades abertas</a>
      </div>
    </nav>
    
    <div class="container">

      <div class="block-buttons">
        <router-link class="waves-effect waves-light btn-small" to="/atividade-criar">Nova Atividade<i class="material-icons left">add</i></router-link>
      </div>

      <table>

        <thead>

          <tr>
            <th>NOME</th>
            <th>DESCRIÇÃO</th>
            <th>TIPO</th>
            <th>OPÇÕES</th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="activity of activities" :key="activity.id">

            <td>{{ activity.name }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.type }}</td>
            <td>
              <router-link :to="{ name: 'edicao-de-atividade', params: { id: activity.id }}" class="waves-effect btn-small blue darken-1"><i class="material-icons">create</i></router-link>
              <button v-if="activity.canRemove" @click="remove(activity.id)" class="waves-effect btn-small red darken-1"><i class="material-icons">delete_sweep</i></button>
              <button v-if="activity.canFinish" @click="terminate(activity.id)" class="waves-effect btn-small green darken-1"><i class="material-icons">check</i></button>
            </td>

          </tr>

        </tbody>
      
      </table>      

    </div>
</template>

<script>
import Activity from '@/services/activities'
import { getEnumText, EnumActivityTypeValues } from '@/helper/Enums'

export default {

  // Responsável por retornar os atributos do componente
  data() {
    return  {
      activities: []
    }
  },

  // Método do ciclo de vida do componente, invocado após ele ter sido criado
  mounted() {
      this.list()
  },

  methods: {
      list() {
        Activity.list(0).then(response => {
            this.activities = response.data
            this.activities.forEach((value) => {
                value.type = getEnumText(EnumActivityTypeValues, value.type)
            });
        })
      },

      remove(id) {
          this.$swal.fire({
                title: 'Deseja realmente excluir a atividade?',
                showCancelButton: true,
                confirmButtonText: `Sim`,
                cancelButtonText: `Não`
            }).then((result) => {
            if (result.isConfirmed) {   
                Activity.remove(id).then(response => {
                    console.log(response.data)
                    this.list()
                })
            } 
        })
      },

      terminate(id) {
          console.log(id)
          this.$swal.fire({
                title: 'Deseja concluir a atividade?',
                showCancelButton: true,
                confirmButtonText: `Sim`,
                cancelButtonText: `Não`
            }).then((result) => {
            if (result.isConfirmed) {   
                Activity.terminate(id).then(response => {
                    console.log(response.data)
                    this.list()
                })
            } 
        })          
      }
  }

}

</script>
