<template>
    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Atividades concluídas</a>
      </div>
    </nav>
    
    <div class="container">

      <table>

        <thead>

          <tr>
            <th>NOME</th>
            <th>DESCRIÇÃO</th>
            <th>TIPO</th>
            <th>CONCLUÍDA EM</th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="activity of activities" :key="activity.id">

            <td>{{ activity.name }}</td>
            <td>{{ activity.description }}</td>
            <td>{{ activity.type }}</td>
            <td>{{ activity.terminated }}</td>

          </tr>

        </tbody>
      
      </table>      

    </div>
</template>

<script>
import Activity from '@/services/activities'
import { getEnumText, EnumActivityTypeValues } from '@/helper/Enums'

export default {

  // Responsável por retornar os atributos do componente
  data() {
    return  {
      activities: []
    }
  },

  // Método do ciclo de vida do componente, invocado após ele ter sido criado
  mounted() {
    Activity.list(1).then(response => {
        this.activities = response.data
        this.activities.forEach((value) => {
            value.type = getEnumText(EnumActivityTypeValues, value.type)
        });      
    })
  }

}

</script>
