<template>
  <div class="container">
    <h1>Controle de Atividades</h1>
    <p>Sistema online para controle de atividades diárias.</p>
    <p>Utilize o menu superior para navegação.</p>
    <p><strong>INSTRUÇÕES:</strong></p>
    <ul class="home-list">
      <li>Classifique corretamente as atividades entre os tipos: "Desenvolvimento", "Atendimento", "Manutenção" e "Manutenção Urgente".</li>
      <li>Atividades do tipo "Manutenção Urgente", depois de criadas não poderão ser excluídas.</li>
      <li>Atividades dos tipos "Atendimento" e "Manutenção Urgente" deverão conter o mínimo de 50 caracteres antes de serem finalizadas.</li>
      <li>O prazo para geração de atividades do tipo "Manutenção Urgente" se encerra às 13:00 horas de sexta-feira.</li>
    </ul>
  </div>
</template>