<template>
    <nav>
      <div class="nav-wrapper blue darken-1">
        <div class="brand-logo center" v-if="activity.id">Edição de atividade</div>
        <div class="brand-logo center" v-else>Nova atividade</div>
      </div>
    </nav>
    
    <div class="container">
      <div class="space15"></div>
      <form @submit.prevent="salvar" class="default-form">
        <label>Nome</label>
        <input maxlength="50" type="text" placeholder="Nome" v-model="activity.name">
        <label>Descrição</label>
        <input maxlength="100" type="text" placeholder="Descrição" v-model="activity.description">
        <label>Tipo</label>
        <select class="visible" v-model="activity.type">
            <option v-bind:key="type.value" v-bind:value="type.value" v-for="type in types">{{ type.text }}</option>
        </select>
        <input type="hidden" placeholder="Status" v-model="activity.status">
        <button class="waves-effect waves-light btn-small">Salvar<i class="material-icons left">save</i></button>
      </form>    

    </div>
</template>

<script>
import Activity from '@/services/activities'
import { EnumActivityTypeValues } from '@/helper/Enums'

export default {

  data() {
    return  {
        activity : {
            id: '',
            name: '',
            description: '',
            type: '',
        },
        types: EnumActivityTypeValues        
    }
  },

  mounted() {
      if(this.$route.params.id) {
        Activity.get(this.$route.params.id).then(response => {
            this.activity = response.data
        })          
      }
  },

  methods: {

      salvar() {
          if(this.activity.description == '' || this.activity.name == '' || this.activity.type == '') {
            this.$swal.fire({
              icon: 'error',
              text: 'Informe todos os campos!'
            });              
          }
          else {
            if(!this.activity.id) {
              Activity.save(this.activity).then(response => {
                  if(response.data.success) {
                    this.$swal('Atividade cadastrada!');
                    this.activity = {}
                  }
                  else {
                    this.$swal.fire({
                      icon: 'error',
                      text: response.data.error
                    })
                  }
              })
            }
            else {
              Activity.edit(this.activity).then(response => {
                  if(response.data.success) {
                    this.$swal('Atividade alterada com sucesso!');
                  }
                  else {
                    this.$swal.fire({
                      icon: 'error',
                      text: response.data.error
                    })
                  }
              })
            }
          }
      }

    }

}

</script>